body {
    background-color: black;
}
.top {
    padding-top: 100px;
}
h1 {
    color: gold;
    text-align: center;
}
h3 {
    color: gold;
    font-style: italic;
    text-align: center;
}

.fa-youtube {
    color: red;
    font-size: 50px;
}
.fa-reddit {
    color: orange;
    font-size: 50px;
}
.emersonGif {
    text-align: center;
}
.quickLinks {
    text-align: center;
    padding-top: 25px;
}